<h1 class="uk-text-center uk-margin-large">Meet the team</h1>

<div class="uk-margin-large-bottom uk-child-width-1-4@m uk-grid uk-flex-top uk-flex-wrap-top"
  uk-grid="masonry: 1; parallax: 60;" uk-scrollspy="cls:uk-animation-fade">
  <div class="uk-panel uk-text-center">
    <img class="uk-border-rounded" src="{{ site.baseurl }}/images/stefan-rotarus.png" height="500px">
    <h3 class="uk-h5 uk-margin-top uk-margin-remove-bottom">
      Stefan Rotarus
    </h3>
    <div class="uk-text-meta">👨‍💼 MTE</div>
  </div>

  <div class="uk-panel uk-text-center">
    <img class="uk-border-rounded" src="{{ site.baseurl }}/images/giacomo-orsi.png" height="500px">
    <h3 class="uk-h5 uk-margin-top uk-margin-remove-bottom">
      Giacomo Orsi
    </h3>
    <div class="uk-text-meta">👨‍💻 Computer science</div>
  </div>
  <div class="uk-panel uk-text-center">
    <img class="uk-border-rounded" src="{{ site.baseurl }}/images/vittorio-rossi.png" height="500px">
    <h3 class="uk-h5 uk-margin-top uk-margin-remove-bottom">
      Vittorio Rossi
    </h3>
    <div class="uk-text-meta">📊 Data science</div>
  </div>
  <div class="uk-panel uk-text-center">
    <img class="uk-border-rounded" src="{{ site.baseurl }}/images/aleksander-boruch.png" height="500px">
    <h3 class="uk-h5 uk-margin-top uk-margin-remove-bottom">
      Aleksander Boruch-Gruszecki
    </h3>
    <div class="uk-text-meta">👨‍🎓 PhD Computer science</div>
  </div>


</div>