<div class="meusli-header uk-height-viewport uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200"
    style="background-image: url('{{ site.baseurl }}/images/background-2.jpg')" ;>

    <div class=" uk-text-center uk-margin-auto uk-margin-auto-vertical"
        uk-scrollspy="target: > *; cls: uk-animation-scale-up; delay: 200">
        <h1 class="header-title">Understanding News Polarization</h1>
        <p class="header-subtitle   uk-margin-auto uk-text-center">A journey through billions of words </p>
        <a href="#introduction" uk-scroll="offset:50"
            class="uk-button uk-button-default uk-button-large uk-margin-large">Read the story</a>
    </div>
</div>
<div class="header-progress-bar">
    <div class="progress-container">
        <div class="progress-bar" id="myBar"></div>
    </div>
</div>