<h1 class="uk-text-center uk-margin-large" style="margin-bottom:150px">Meet the team</h1>

<div class="uk-child-width-1-4@m uk-grid uk-flex-top uk-flex-wrap-top" uk-grid="masonry: 1; parallax: 60;"
  uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 200">
  <div class="uk-panel uk-text-center">
    <img class="uk-border-rounded" src="{{ site.baseurl }}/images/stefan-rotarus.png">
    <h3 class="uk-h3 uk-margin-top uk-margin-remove-bottom">
      Stefan Rotarus
    </h3>
    <div class="uk-text-meta uk-text-large">👨‍💼 MTE</div>
  </div>

  <div class="uk-panel uk-text-center">
    <img class="uk-border-rounded" src="{{ site.baseurl }}/images/giacomo-orsi.png">
    <h3 class="uk-h3 uk-margin-top uk-margin-remove-bottom">
      Giacomo Orsi
    </h3>
    <div class="uk-text-meta uk-text-large">👨‍💻 Computer science</div>
  </div>
  <div class="uk-panel uk-text-center">
    <img class="uk-border-rounded" src="{{ site.baseurl }}/images/vittorio-rossi.png">
    <h3 class="uk-h3 uk-margin-top uk-margin-remove-bottom">
      Vittorio Rossi
    </h3>
    <div class="uk-text-meta uk-text-large">📊 Data science</div>
  </div>
  <div class="uk-panel uk-text-center">
    <img class="uk-border-rounded" src="{{ site.baseurl }}/images/aleksander-boruch.png">
    <h3 class="uk-h3 uk-margin-top uk-margin-remove-bottom">
      Aleksander Boruch-Gruszecki
    </h3>
    <div class="uk-text-meta uk-text-large">👨‍🎓 PhD Computer science</div>
  </div>


</div>


<div clas="uk-container-small uk-container-center uk-text-large footer-disclaimer">
  <p>This analysis was realized as part of a project for the course <a href="https://ada.epfl.ch">Applied Data
      Analysis</a> at EPFL
  <p>
    <a href=""><span uk-icon="github"> </span> The repository of this website</a>
  </p>
  <p><a href=""><span uk-icon="github"> </span> The repository of this project</a></p>

</div>