<!DOCTYPE html>
<html lang="{{ site.locale }}">

{% include head.html %}

<body>
  {% include muesli-header.html %}

  <div class="uk-section uk-section-default">
    <div class="uk-container uk-container-small uk-position-relative" uk-scrollspy="target: > *; cls: uk-animation-fade; delay: 25">
      {{ content }}
    </div>
  </div>
  
  <div class="uk-section uk-section-secondary" id="footer">
    <div class="uk-container" >
      {% include muesli-footer.html %}
    </div>
  </div>




</body>

</html>